#--------------------------------------------------#
# The following was generated with gitignore.nvim: #
#--------------------------------------------------#
# Gitignore for the following technologies: Node

# Dependency Directories
node_modules/

# Dependency File
.env
